img{
    width: 200px;
    height: 200px;
  }
   img{
    margin-right: 60px;

  }  

  #result-section{
      float: left;
      margin-right: 60px;
  }

  #vote-section{
    margin-left: 10px;


  }